header{
  margin-left: 230px; 
}

body {
  font-family: Fira Mono,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  background-color: #202020;
  color: #8f81c2;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #282828;
  width: 230px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu h3 {
  color: white;
  margin-left: 20px;
}


.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 2px;
}

.sidebar-menu li:hover {
  background-color:  rgba(64, 64, 64, 0.5);
}

.sidebar-menu li img {
  width: 15%;
}

.sidebar-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar-menu li a:hover {
  color: #7AC7C4;
}

.folder {
  cursor: pointer;
  margin-left: 5px;
}

.folder-content {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.folder-content-show {
  display: block;
}

.folder-wrapper{
  color: white;
}



.content {
  margin-left: 220px; 
}


.file { 
  margin-top: 0;
  padding-top:12px ; 
  padding-bottom:7px;
  display: felx;
}

.onglet1 {
  padding: 7px 20px;
  color: white;
  background-color: #353535;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.onglet {
  padding: 7px 20px;
  color: white;
  background-color: #353535;
  text-decoration: none;
  position: relative;
  display: none;
}


.onglet-actif {
  padding: 7px 20px;
  color: white;
  background-color: #191919;
  text-decoration: none;
  position: relative;
  display: inline-block;
}




.onglet:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.onglet:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.onglet:not(:last-child) {
  margin-right: -4px;
}


a.onglet {
  background-color:#353535 ;
  text-decoration:none;
}

 


.code-line {
  counter-increment: a;
  display: inline-table;
  padding-left: 3ch;
  position: relative;
}

.code-line:before {
  content: counter(a) "\a●\a●\a●\a●\a●\a●\a●\a●\a●\a●";
  display: inline-block;
  opacity: .5;
  position: absolute;
  width: 3ch;
  top: 0;
  bottom: 0;
  left: -1ch;
  overflow: hidden;
  text-align: right;
}

.code-line:after {
  opacity: .25;
  content: "¬";
}

.code-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.code-key {
  color: #F73859;
}

.code-value {
  color: #7AC7C4;
}

.code-key-alt {
  color: #F4A442;
}

.code-link{
  color: #497675;
}

.code-space {
  opacity: .25;
  display: table-cell;
  vertical-align: top;
  position: relative;
  white-space: pre;
}

.code-space:before {
  content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}


.code {
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: break-word;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  counter-reset: a;
  margin-left: -80px;
}

.breadcrumb {
  background-color: #191919;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  clear: both;
}

.breadcrumb-item {
  color: #ffffff;
  display: inline-block;
  margin-right: 5px;
}

.breadcrumb-item::after {
  content: " > ";
}

.breadcrumb-last-item {
  color: #ffffff;
  display: inline-block;
  margin-right: 5px;
}
